<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.LabMapper">
    <resultMap type="com.example.demo.bean.Lab" id="labMap">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="is_show" column="is_show"></result>
    </resultMap>
    <sql id="defaultLab">
         select *from lab
    </sql>

    <!-- 查询 所有-->
    <select id="findList" resultMap="labMap">
        <include refid="defaultLab"></include>
    </select>


</mapper>