<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lei Shi">
    <meta http-equiv="Cache-Control" content="o-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">


    <title> 爱学习</title>




    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="../static/font-awesome//4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="../app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app/css/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="../app/css/libs/videojs/5.11.7/video-js.min.css">
    <link rel="stylesheet" href="../app/css/dest/styles.css?=2016121272249">

    <style>

        iframe, video {
            /*border: 1px solid #000;*/
            width: 800px;
            height: 602px;
            position: relative;
            left: 60px;
        }
    </style>
    <link rel="stylesheet" href="../restatic/js/libs/marked/katex/katex.min.css">
</head>

<body>


<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#header-navbar-collapse" aria-expanded="false">
                <span class="sr-only">爱学习</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo-grey.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        课程
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="active" href="../courses/index.html">全部课程</a></li>
                        <li><a class="" href="../courses/index.html?status=preview">即将上线</a></li>
                        <li><a class="" href="../developer/index.html">开发者</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="../paths/index.html">路径</a>
                </li>
                <li class="">
                    <a href="../questions/index.html">讨论区</a>
                </li>
                <li class=" bootcamp new-nav logo-1111">
                    <a href="../bootcamp/index.html">训练营</a>

                </li>
                <li class=" new-nav logo-1111">
                    <a href="../vip/index.html">个人中心</a>

                </li>

            </ul>


        </div>
    </div>
</nav>


<div class="container layout layout-margin-top">

    <ol class="breadcrumb">
        <li><a href="/courses/">全部课程</a></li>

        <li>

            <a href="/courses/?tag=Linux">Linux</a>

        </li>

        <li class="active">
            <a href="/courses/1" th:text="${pager.rows.get(0).getCourse_subject()}">

            </a>
        </li>
    </ol>

    <div class="row">
<!--        4分隔-->
        <div class="col-md-4 layout-body">


            <div class="content course-infobox">
                <div class="clearfix course-infobox-header">
                    <h4 class="pull-left course-infobox-title">

                        <span th:text="${pager.rows.get(0).getCourse_subject()}"></span>

                    </h4>
                    <div class="pull-right course-infobox-follow">

                        <span class="course-infobox-followers">4401</span>
                        <span>人关注</span>

                    </div>
                </div>


            </div>
            <div class="content">

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="labs">


                        <div class="lab-item" th:each="e:${pager.rows}" th:title="${e.getCourse_code()}">
                            <div class="lab-item-status" >

                                <img src="../img/lab-not-ok.png">

                            </div>
                            <div class="lab-item-index" >第<span th:text="${e.getCourse_id()}"></span>节</div>
                            <div class="lab-item-title" data-toggle="tooltip" data-placement="bottom"  th:title="${e.getCourse_name()}" th:text="${e.getCourse_name()}"></div>
                            <div class="pull-right lab-item-ctrl">

                            </div>
                        </div>




                        <div class="lab-item " th:title="${pager.lastPage}" id="btns">

                            <div class="pull-right lab-item-ctrl " id="lab" th:title="${pager.msg}">

                                <a class="btn" th:title="${pager.getPage()}"><<</a>
                                <a class="btn" th:title="${pager.getPage()}">>></a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
<!--        8分割-->
        <div class="col-md-8 ">


<!--   <iframe src="//player.bilibili.com/player.html?aid=40867454&bvid=BV1Jt411p7vB&cid=71758080&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" > </iframe>-->
            <div th:utext="${pager.rows.get(0).getCourse_code()}" id="videoPlay"> </div>
<!--            <div class="row ">-->

<!--                <div class="video">-->
<!--                    <video controls="controls">-->
<!--                        <source src="http://labfile.oss-cn-hangzhou.aliyuncs.com/shiyanlou_desktop/desktop.ogg"-->
<!--                                type="video/ogg">-->
<!--                        <source src="http://labfile.oss-cn-hangzhou.aliyuncs.com/shiyanlou_desktop/desktop.mp4"-->
<!--                                type="video/mp4">-->
<!--                        你的浏览器不支持播放视频-->
<!--                    </video>-->

<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</div>



    <script src="../static/jquery/2.2.4/jquery.min.js"></script>
    <script src="../static/videojs/video.min.js"></script>
    <script src="../static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
    <script src="../static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="../static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <script src="../static/ravenjs/3.7.0/raven.min.js"></script>


    <script src="../app/dest/course/labs.js?=2016121272249"></script>


</body>
<script type="text/javascript">
    $(".btn").click(function (){
        var data1= $(this).attr('title');
        var data2=$("#btns").attr('title');
        var data3=$("#lab").attr('title');
        var icon=$(this).text();

       var lastPage=parseInt(data2) ;
       var page=parseInt(data1);
       if(icon=='>>')
          page=page+1;
       if(icon=='<<')
          page=page-1;
       if(page<=0) {
           alert("没有上一页");
           page=1;
       }
       if(page>lastPage){
           alert("没有下一页");
           page=lastPage;
        }

        location.href = 'http://localhost:8080/loadCourse?page=' + page+'&subject='+data3;
    });

</script>
<script type="text/javascript">
    $(".lab-item").click(function (){
       var data= $(this).attr('title');
        if(data!=null) {
            $("#videoPlay").html(data);
        }

    });

</script>
</html>
