<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<span th:text="jjjjj"></span>-->
<!--<span th:text="${msg}"></span>-->
<!--<input th:value="${msg}">-->
<!--<span th:text="${#strings.isEmpty(msg)}"></span>-->
<!--<span th:text="${#strings.endsWith(msg,'h')}"></span>-->
<!--<span th:text="${#dates.format(date)}"></span>-->
<!--<span th:text="${#dates.format(date,'yy/MM/dd')}"></span>-->
<!--<span th:text="${#dates.year(date)}"></span>-->
<!--<span th:if="${sex} == '男'">-->
<!--    性别:<span th:text="${sex}"></span>-->
<!--</span>-->
<!--<div th:switch="${id}">-->
<!--    <span th:case="1">1</span>-->
<!--    <span th:case="2">2</span>-->
<!--    <span th:case="*">*</span>-->
<!--</div><br>-->
<!--<table>-->

<!--    <tr>-->
<!--        <th>email</th>-->
<!--        <th>password</th>-->
<!--        <th>index</th>-->
<!--    </tr>-->
<!--    <tr th:each="u,suibian:${users}">-->
<!--        <td th:text="${u.password}"></td>-->
<!--        <td th:text="${u.mail}"></td>-->
<!--        <td th:text="${suibian.index}"></td>-->
<!--    </tr>-->

<!--</table><br>-->
<!--<table>-->

<!--    <tr>-->
<!--        <th>email</th>-->
<!--        <th>password</th>-->

<!--    </tr>-->
<!--    <tr th:each="e:${map}">-->
<!--        <td th:text="${e.value.mail}"></td>-->
<!--        <td th:text="${e.value.password}"></td>-->
<!--    </tr>-->

<!--</table><br>-->
<!--<span th:text="${session.session}"></span>-->
<!--<span th:text="${#session.getAttribute('session')}"></span>-->
<!--<span th:text="${#request.getAttribute('req')}"></span>-->
<!--<span th:text="${#httpServletRequest.getAttribute('req')}"></span>-->
<!--<span th:text="${#servletContext.getAttribute('app')}"></span>-->
<!--<span th:text="${application.app}"></span>-->
hello world
</body>
</html>